html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-family: Dosis, sans-serif;
  font-weight: bold;
  color: #512200;
}

p {
  font-family: Georgia, sans-serif;
}

div {
  background-color: #cabdb2;
  border-width: 3px;
  border-radius: 3px 8px;
  border-style: solid;
}

.link-card {
  text-decoration: none;
}

.btn {
  border: 2px;
}
