html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #f0eee8;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.link-card {
  text-decoration: none;
  display: block;
  background-color: #dcd4cd;
  border-width: 3px;
  border-radius: 3px;
  border-style: solid;
  border-color: #9a816d;
  padding: 1rem;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card:hover .btn {
  background-color: #785439;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  color: #512200;
  display: block;
  margin: 0;
  text-decoration: none;
}

p {
  font-family: Georgia, sans-serif;
  display: inline-block;
  font-size: 1rem;
  color: #785439;
  text-decoration: none;
}

.chart {
  border-top: 2px;
  border-bottom: 2px;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  border-color: #9a816d;
  padding: 1rem 0;
}

dl {
  font-family: Georgia, sans-serif;
  color: #785439;
  font-size: .875rem;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

dt {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
}

dd {
  font-style: italic;
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
}

.btn-wrap {
  padding: 1rem 3.5rem 0;
}

.btn {
  background-color: #9a816d;
  padding: .4em .75em .5em;
  font-family: Dosis, sans-serif;
  color: #f0eee8;
  border-radius: 8px;
  border-style: none;
  font-weight: bolder;
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
